body {
    min-height: 100vh;
    text-align: center;
    background-color: rgb(54, 75, 43);
    color: rgb(213, 231, 184);
    font-family: 'GongGothicMedium';
    width: 100%;
    overflow-x: hidden;
    margin: 0;
    padding : 0;
}

header{
    text-align: center;
    width: 800px;
    height :200px;
    margin: 30px auto 100px auto;
    background-color: rgb(54, 75, 43);
    padding-top: 60px;
}
hr {
    width: 100%;
    margin: 20px 0;
}
section{
    text-align: center;
    height :100px;
    margin-top : 50px;
    margin-bottom : 100px;
    background-color: rgb(54, 75, 43);
}
.img1 {
    width: 30%;
    height: auto;
}
#goods {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    top : 0;
    width: 100%;
    background-color: rgb(54, 75, 43);
    z-index: 1000;
    padding: 10px 0;
}

#goods ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0 0 10px;
    margin: 0;
}

#goods ul li {
    font-family : 'GongGothicMedium', sans-serif;
    display: flex;
    align-items: center;
    list-style-type: none;
    padding : 0 50px;

}

#goods ul li :hover{
    transition-duration: 1.5s;
    background-color: rgba(213, 231, 184, 0.2);
}

ul, li {
    text-align: center;
    color : rgb(213, 231, 184);
    font-family : 'GongGothicMedium';

}

body {
    min-height : 100vh;
    text-align: center;
    background-color: rgb(54, 75, 43);
    color : rgb(213, 231, 184);
    font-family : 'GongGothicMedium';
    
}

#root {
    width:100%;
    background: white;
    display : flex;
    align-items: center;
    justify-content: center;
}

#App {
    background : white;
    width: 100%;
}