<!DOCTYPE html>
<html lang = "ko">
<head>
    <meta charset = "UTF-8">
    <!-- <meta http-equiv="X-UA_Compatible" content = "IE=edge"> -->
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
    <title> Soyeon Portfolio1 </title>
    <link rel = "stylesheet" href = "/css/home/index.css">

</head>

<header>
    <a href = "/"> 
        <img class= "img1" src = "https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Logo_of_Aespa_%28black%29.svg/320px-Logo_of_Aespa_%28black%29.svg.png" alt = "Title">
    </a>

    <div class = "frame">
        <button type = "button" class ="login" onclick="window.open('/login')">login</button>
    </div>

    <hr>
    <nav id = "menubar">
        <ul>
            <li><a href = "/Karina">Karina</a></li>
            <li><a href = "/Winter">Winter</a></li>
            <li><a href = "/Ningning">Ningning</a></li>
            <li><a href = "/Giselle">Giselle</a></li>
        </ul>
    </nav>
        <img class="img2" src = "https://namu.wiki/w/%ED%8C%8C%EC%9D%BC:aespa%20%EB%A1%9C%EA%B3%A0%20%EB%AA%A8%EC%85%98.gif" loop = infinite alt = "logo1"></a>
</header>

<body>
</body>

</html>