<!DOCTYPE html>
<html lang = "ko">
<head>
    <meta charset = "UTF-8">
    <!-- <meta http-equiv="X-UA_Compatible" content = "IE=edge"> -->
    <meta name = "viewport" content = "width=device-width, initial-scale = 1.0">
    <title> Soyeon Portfolio1 </title>
    <link rel = "stylesheet" href = "/css/home/index.css">

</head>

<header>
    <a href = "/"> 
        <img class= "img1" src = "https://upload.wikimedia.org/wikipedia/commons/thumb/c/c0/Logo_of_Aespa_%28black%29.svg/320px-Logo_of_Aespa_%28black%29.svg.png" alt = "Title">
    </a>

    <div class = "frame">
        <button type = "button" class ="login" onclick="window.open('/login')">login</button>
    </div>

    <hr>
    <nav id = "menubar">
        <ul>
            <li><a href = "/Karina">Karina</a></li>
            <li><a href = "/Winter">Winter</a></li>
            <li><a href = "/Ningning">Ningning</a></li>
            <li><a href = "/Giselle">Giselle</a></li>
        </ul>
    </nav>
        <img class= "img2" src = "https://graziasg.s3.ap-southeast-1.amazonaws.com/wp-content/uploads/2024/05/GOqkR4KbcAA8xrf2.jpg" alt = "logo">

<body>
</body>

</html>