<!DOCTYPE html>
<html lang = "ko">
<head>
    <title>Log in</title>
    <meta charset="utf-8">
    <script src = "/js/home/login.js" defer></script>
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home/login.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
</head>
<body>
    <div class="login-form">
        <h1>If you MY, Log in and Get it</h1>
        <form>
            <input type="text" name="id" class="text-field" placeholder="아이디">
            <input type="password" name="password" class="text-field" id="passwordField" placeholder="비밀번호">
            <div class="eyes">
                <i class="fa fa-eye fa-lg" id="togglePassword"></i>
            </div>
            <button type="button" class="submit-btn">로그인</button>
        </form>
        <div class="join">
            <a href="/register"> 회원가입</a>
        </div>
    </div>
</body>
</html>
