<!DOCTYPE html>
    <html lang="ko">
    <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src = "/js/home/register.js" defer></script>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel = "stylesheet" href = "/css/home/login.css">
    <title>Register</title>
    </head>
    <body>
        <div class="login-page">
          <div class="form">
           <form class="login-form">
              <input type="text" name = "id" class="text-field" placeholder="아이디"/>
              <input type="text" name = "name" class="text-field" placeholder="이름"/>
              <input type="password" name = "psword" class="text-field" placeholder="비밀번호"/>
              <input type="password" name = "confirm-psword" class="text-field" placeholder="비밀번호 확인"/>
              <button type="button" class="submit-btn">회원가입</button>
              <p class="message">Already registered? <a href="/login">login</a></p>
            </form>
          </div>
        </div>
  </body>
  </html>